@import "_variables.scss";

body{
  font-family: 'Roboto', Arial, sans-serif;
}

html, body {
  height:100%;
  width:100%;
  display:table;
}

.loader{
  text-align: center;
}

login, register, .loader{
  height:100vh;
  width: 100vw;
  background-color: $mainColor1;
  display: table-cell;
  vertical-align: middle;
}

main{
  padding-top: 70px;
}

h3{
  margin-top: 5px;
  margin-bottom: 0px;
}

/************** PageBlock ************** */
.page-block-primary{
  border: 4px solid $mainColor2;
  text-align: center;
  padding: 50px;
}

.page-block_H1{
  color: $mainColor2;
  font-size: 88px;
  font-weight: 900;
}

.page-block_H2{
  color: $mainColor2;
  font-size: 48px;
  font-weight: 900;
}

.page-block_textInput{
  background-color: $mainColor1;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid white;
  color: #FFFFFF;
  margin: 25px auto;
  width: 100%;
}

.page-block_textInput_secondary{
  background-color: #FFFFFF;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid $mainColor1;
  color: $mainColor1;
  margin: 25px auto;
  width: 100%;
}

.page-block_nameInput{
  display: inline;
  float: right;
}

.page-block_textInput:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid $mainColor2;
}

.page-block_textInput::-webkit-input-placeholder {
  color: #FFFFFF;
  text-transform: uppercase;
}

.page-block_submitBtn{
  border-radius: 5px;
  color: $mainColor1;
  background-color: $mainColor2;
  box-shadow:none;
  font-size: 30px;
  font-weight: bold;
  padding: 3px 40px;
  display: block;
  margin: 15px auto;
  border-color: $mainColor2;
}

.page-block_smallLink{
  display: block;
  margin: 5px auto;
  color: #FFF;
  size: 18px;
  text-decoration: none;
  font-weight: 300;
}

.page-block_smallLink:hover{
  text-decoration: underline;
  color: #FFF;
}

.register_first{
  width: 45%;
  float: left;
  margin-right: 10px;
}

.register_name{
  width: 50%;
}

.page-block_error{
  background-color: $DenialColor;
  padding: 10px;
  color: #FFFFFF;
}
/************** PageBlock End ************** */

/************** Navbar ************** */
.nav-bar{
  background-color: $mainColor1;
  height: 50px;
}

.navbar-default .navbar-brand, nav .navbar-nav>li>a {
  color: $mainColor2;
}

.navbar-fixed-bottom{
  background-color: lightgrey;
  padding-top: 10px;
}

.nav-link{
  color: white;
  padding: 15px;
}

li:hover{
  text-decoration: underline;
}
/************** NavBar End ************** */

/************** Dashboard ************** */
.dashboard-block{
  background-color: #F2C14E;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 15px;
}

.dashboard-block > span{
  font-size: 44px;
}

.dashboard-SearchBlock{
  margin-bottom: 20px;
}

.dashboard-SearchBlock_box{
  border: 2px solid $mainColor1;
  width: 250px;
}

.dashboard_hr{
  border-top-color: $mainColor1;
}

.link{
  color: $mainColor2;
  font-size: 20px;
}

.link:hover{
  text-decoration: underline;
}

.tableLine{
  border-bottom: 1px solid $SubColor;
  line-height: 2em;
}

.tableLine:hover{
  border-bottom: 1px solid $mainColor2;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

.img-responsive{
  margin-top: 20px;
}

.pull-down{
  margin-top: 55%;
}

/************** Dashboard End ************** */


/************** Toggle Switch ************** */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $mainColor2;
}

input:focus + .slider {
  box-shadow: 0 0 1px $mainColor2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/************** Toggle Switch End ************** */
