<header></header>

<main>
    <div class="page-block-primary col-lg-6 col-lg-offset-3">
        <h2 class="page-block_H2">Add new maintenance</h2>

        <input type="text" placeholder="Mechanic" class="page-block_textInput_secondary" [(ngModel)]="mechanic">
        <input type="text" placeholder="Description" class="page-block_textInput_secondary" [(ngModel)]="description">
        <input type="text" placeholder="Price" class="page-block_textInput_secondary" [(ngModel)]="price">

        <button role="button" class="page-block_submitBtn" (click)="addNewMaintenance()">Add</button>

        <p class="page-block_error" *ngIf="errorMessage">{{errorMessage}}</p>
    </div>
</main>
