<header></header>

<main class="container col-lg-8 col-lg-offset-2">
    <div class="col-lg-4">
        <div class="dashboard-block">
            <span class="fa fa-bicycle" aria-hidden="true"></span>
            <p>{{amountOfBikes}}</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="dashboard-block">
            <span class="fa fa-user-times" aria-hidden="true"></span>
            <p>{{noUsers}}</p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="dashboard-block">
            <span class="fa fa-wrench" aria-hidden="true"></span>
            <p>{{amountOfInMaintenance}}</p>
        </div>
    </div>

    <hr class="col-lg-12 dashboard_hr"/>

    <div class="col-lg-12 dashboard-SearchBlock">
        <a href="newBike" class="pull-left link">Add new bike</a>
        <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="pull-right dashboard-SearchBlock_box form-control" placeholder="Search">
        </div>
    </div>

    <div class="col-lg-12">
        <table style="width:100%">
            <tr>
                <th>Number</th>
                <th>User</th>
                <th>Email</th>
                <th>In Maintenance</th>
            </tr>
            <tr *ngFor="let bike of bikes" (click)="getDetail(bike._id)" class="tableLine">
                <td>#{{ bike.Number  }}</td>
                <td *ngIf="!bike.User">No user</td>
                <td *ngIf="bike.User">{{bike.User.Firstname}} {{bike.User.Name}}</td>
                <td *ngIf="!bike.User"></td>
                <td *ngIf="bike.User">{{bike.User.Email}}</td>
                <td *ngIf="bike.inMaintenance"><span class="fa fa-wrench" aria-hidden="true"></span></td>
                <td *ngIf="!bike.inMaintenance"></td>
            </tr>
        </table>
    </div>
</main>
