<div class="page-block-primary col-lg-4 col-lg-offset-4">
    <h1 class="page-block_H1">Login</h1>

    <input type="text" placeholder="Email" class="page-block_textInput" [(ngModel)]="email">
    <input type="password" placeholder="Password" class="page-block_textInput" [(ngModel)]="password">

    <button role="button" class="page-block_submitBtn" (click)="login()">GO!</button>

    <a href="register" class="page-block_smallLink">No account? Register!</a>

    <p class="page-block_error" *ngIf="errorMessage">{{errorMessage}}</p>
</div>