<div class="col-lg-4">
    <div class="dashboard-block">
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
        <p>{{amountOfBikes}}</p>
    </div>
</div>

<div class="col-lg-4">
    <div class="dashboard-block">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <p>15</p>
    </div>
</div>

<div class="col-lg-4">
    <div class="dashboard-block">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <p>15</p>
    </div>
</div>

<hr class="col-lg-12" />

<div class="col-lg-12">
    <a href="#newBike" class="pull-left">Add new bike</a>
    <input type="search" class="pull-right">
</div>

<div class="col-lg-12">
    <table style="width:100%">
        <tr>
            <th>Number</th>
            <th>Owner</th>
            <th>Type</th>
            <th>Last Maintenance</th>
            <th>Next Maintenance</th>
            <th>In Maintenance</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
    <ul>
        <li *ngFor="let bike of bikes">
            ID: {{ bike.LockId  }} - Current Status: {{ bike.CurrentStatus }}
        </li>
    </ul>
</div>
